<div class="padding position: relative">
  <po-page-default p-title="Recibos de Férias">
    <p>
      Disponibiliza as férias calculadas para o funcionário, possibilitando que
      seja impresso, ou somente vizualizado, o recibo de pagamento do período
      selecionado.
    </p>

    <po-page-list
      #poPageList
      [p-actions]="actions"
      [p-disclaimer-group]="disclaimerGroup"
      [p-filter]="filterSettings"
    >
      <po-table
        [p-selectable]="true"
        [p-single-select]="true"
        [p-sort]="true"
        [p-striped]="true"
        [p-columns]="hiringProcessesColumns"
        [p-items]="hiringProcessesFiltered"
      >
      </po-table>
    </po-page-list>

    <po-modal
      #advancedFilterModal
      p-title="Advanced filter"
      [p-primary-action]="advancedFilterPrimaryAction"
    >
      <form #f="ngForm"> 
        <po-multiselect
          name="jobDescription"
          [(ngModel)]="jobDescription"
          p-label="Job description"
          [p-options]="jobDescriptionOptions"
        >
        </po-multiselect>

        <po-checkbox-group
          name="status"
          [ngModel]="status"
          (ngModelChange)="status = $event"
          p-label="Status"
          [p-options]="statusOptions"
        >
        </po-checkbox-group>
      </form>
    </po-modal>
  </po-page-default>
</div>
